[Unit]
Description=Controls LG WebOS TV at Startup and Shutdown
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
User=zany130
Group=zany130
ExecStart=/usr/libexec/LG_Buddy_Startup
ExecStop=/usr/libexec/LG_Buddy_Shutdown
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=15
StartLimitIntervalSec=120
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
