[Unit]
Description=Controls LG WebOS TV at Startup and Shutdown
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
RemainAfterExit=true
User=zany130
Group=zany130
ExecStart=/usr/libexec/LG_Buddy_Startup
ExecStop=/usr/libexec/LG_Buddy_Shutdown
StandardOutput=journal
StandardError=journal

[Install]
Alias=LG_Buddy.service
WantedBy=multi-user.target
